server {
    listen 80;
    server_name ${VITE_APP_HOST};

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443;
    server_name ${VITE_APP_HOST};

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}