node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env*
!.env.production

.DS_Store
Thumbs.db

dist

.git
.gitignore

docker-compose.yml
Dockerfile*
.dockerignore

.vscode
.idea
*.sw?

coverage
__tests__/
*.spec.js
*.test.js
