/* color palette from <https://github.com/vuejs/theme> */

/* --as-l-* = light mode  */
/* --as-d-* = dark mode   */
/* --as-u-* = both modes  */

:root {
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  /* ==========================================================================
   Mint color palette Universal
   ========================================================================== */
  --as-u-color-a-1: rgb(0, 189, 126);
  --as-u-color-a-1-highlight: rgb(38, 249, 200);
  --as-u-color-a-1-disabled: rgba(235, 235, 235, 0.64);
  --as-u-color-a-1-active: rgb(0, 189, 126);

  /* ==========================================================================
   Mint color palette Light Mode
   ========================================================================== */
  --as-l-color-bg-1: rgb(231, 231, 231);

  --as-l-color-navbar: rgba(255, 255, 255, 0.9);

  --as-l-color-h1-1: rgb(46, 33, 33);
  --as-l-color-h1-1-highlight: rgb(23, 12, 12);

  --as-l-color-h2-1: rgb(0, 189, 126);
  --as-l-color-h2-1-highlight: rgb(38, 249, 200);

  --as-l-color-h3-1: rgba(129, 176, 160, 0.79);
  --as-l-color-h3-1-highlight: rgba(154, 212, 193, 0.79);

  --as-l-color-text: rgb(54, 40, 45);
  --as-l-color-text-mute: rgba(54, 40, 45, 0.5);

  /* ==========================================================================
   Mint color palette Dark Mode
   ========================================================================== */
  --as-d-color-bg-1: rgb(24, 24, 24);

  --as-d-color-navbar: rgba(0, 0, 0, 0.9);

  --as-d-color-h1-1: rgb(209, 222, 222);
  --as-d-color-h1-1-highlight: rgb(232, 243, 243);

  --as-d-color-h2-1: rgb(0, 189, 126);
  --as-d-color-h2-1-highlight: rgb(38, 249, 200);

  --as-d-color-h3-1: rgba(129, 176, 160, 0.79);
  --as-d-color-h3-1-highlight: rgba(154, 212, 193, 0.79);

  --as-d-color-text: rgb(201, 215, 210);
  --as-d-color-text-mute: rgba(201, 215, 210, 0.5);

  --content-box-title-size: 1.65em;
  --content-box-title-size-mobile: 1.5em;

  /* ==========================================================================
   Icon Sizes
   ========================================================================== */
  --as-icon-v-big: 124px;
  --as-icon-big: 76px;
  --as-icon-medium: 48px;
  --as-icon-small: 32px;
  --as-icon-v-small: 24px;
}

/* semantic color variables for this project */
/* :root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --mode-color-bg-1: var(--as-l-color-bg-1);

  --mode-color-h1-1: var(--as-l-color-h1-1);
  --mode-color-h1-1-highlight: var(--as-l-color-h1-1-highlight);
  
  --mode-color-h2-1: var(--as-l-color-h2-1);
  --mode-color-h2-1-highlight: var(--as-l-color-h2-1-highlight);
  
  --mode-color-h3-1: var(--as-l-color-h3-1);
  --mode-color-h3-1-highlight: var(--as-l-color-h3-1-highlight);

  --mode-color-text: var(--as-l-color-text);
  --mode-color-text-mute: var(--as-l-color-text-mute);
  
  --mode-color-a-1: var(--as-u-color-a-1);
  --mode-color-a-1-highlight: var(--as-u-color-a-1-highlight);
  --mode-color-a-1-disabled: var(--as-u-color-a-1-disabled);
  --mode-color-a-1-active: var(--as-u-color-a-1-active);

  --mode-color-nav: var(--as-l-color-navbar);

} */

/* @media (prefers-color-scheme: light) { */
:root {
  --mode-color-a-1: var(--as-u-color-a-1);
  --mode-color-a-1-highlight: var(--as-u-color-a-1-highlight);
  --mode-color-a-1-disabled: var(--as-u-color-a-1-disabled);
  --mode-color-a-1-active: var(--as-u-color-a-1-active);

  --mode-color-bg-1: var(--as-d-color-bg-1);

  --mode-color-h1-1: var(--as-d-color-h1-1);
  --mode-color-h1-1-highlight: var(--as-d-color-h1-1-highlight);

  --mode-color-h2-1: var(--as-d-color-h2-1);
  --mode-color-h2-1-highlight: var(--as-d-color-h2-1-highlight);

  --mode-color-h3-1: var(--as-d-color-h3-1);
  --mode-color-h3-1-highlight: var(--as-d-color-h3-1-highlight);

  --mode-color-text: var(--as-d-color-text);
  --mode-color-text-mute: var(--as-d-color-text-mute);

  --mode-color-nav: var(--as-d-color-navbar);
}

/* } */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--mode-color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Roboto',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
