@import './base.css';


/** Button Styles **/

/* Default Button */
button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mode-color-a-1);
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s;
}
button span {
  color: var(--mode-color-bg-1);
  font-weight: bold;
}
button:hover {
  background-color: var(--mode-color-a-1-highlight);
  border: 1px solid var(--mode-color-a-1-highlight);
}
button:active {
  background-color: var(--mode-color-a-1-highlight);
  border: 1px solid var(--mode-color-a-1-highlight);
}
button:disabled {
  color: var(--mode-color-bg-1);
  background-color: var(--mode-color-a-1-disabled);
  border: 1px solid transparent;
  cursor: not-allowed;
}

/* Button with Icon */
button .svg-icon {
  height: clamp(1rem, 32px, 2rem);
  filter: invert(0%) sepia(28%) saturate(52%) hue-rotate(317deg) brightness(104%) contrast(81%);
}

/* Button with Border */
.button-bordered {
  color: var(--mode-color-a-1);
  background-color: transparent;
  border: 1px solid var(--mode-color-a-1);
}
.button-bordered:hover {
  color: var(--mode-color-bg-1);
  background-color: var(--mode-color-a-1-highlight);
  border: 1px solid var(--mode-color-a-1-highlight);
}
.button-bordered:active {
  color: var(--mode-color-bg-1);
  background-color: var(--mode-color-a-1-highlight);
  border: 1px solid var(--mode-color-a-1-highlight);
}
.button-bordered:disabled {
  color: var(--mode-color-a-1-disabled);
  background-color: transparent;
  border: 1px solid var(--mode-color-a-1-disabled);
  cursor: not-allowed;
}


#app {
  font-weight: normal;
  font-family: "Roboto";
  padding-top: 70px;
}


a {
  display: flex;
  text-decoration: none;
  color: var(--mode-color-a-1);
  transition: 0.4s;
}

a:hover {
  color: var(--mode-color-a-1-highlight);
}

h1 {
  text-align: left;
  font-size: clamp(2rem, 6vw, 4rem);
  line-height: 1.2;
  color: var(--mode-color-h1-1);
  font-weight: bold;
}

h2 {
  text-align: left;
  font-size: clamp(1.2rem, 3vw, 2rem);
  line-height: 2.4rem;
  color: var(--mode-color-h2-1);
  font-weight: 500;
}

p {
  line-height: 1.5rem;
  color: var(--mode-color-text);
  letter-spacing: 0.02rem;
  margin-bottom: 0.35rem;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

.svg-icon-link {
  filter: invert(47%) sepia(97%) saturate(1278%) hue-rotate(125deg) brightness(93%) contrast(106%);
  transition: 0.4s;
}

.svg-icon {
  filter: invert(47%) sepia(97%) saturate(1278%) hue-rotate(125deg) brightness(93%) contrast(106%);
  transition: 0.4s;
}

.svg-icon-link:hover {
  filter: invert(73%) sepia(90%) saturate(395%) hue-rotate(102deg) brightness(101%) contrast(95%);
  transform: scale(1.1);
}

.mint-pill-medium {
  cursor: default;
  background-color: rgba(140, 167, 158, 0.15);
  color: rgba(214, 234, 229, 0.8);
}

ol {
  padding-left: 0;
}

li {
  list-style-type: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.4s;
  box-shadow: 1rem;
  margin: 2rem 0.5rem;
}

li:hover {
  list-style-type: none;
  border-radius: 15px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(110%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in-right {
  animation: fadeInRight 0.5s ease-in-out forwards;
  animation-delay: calc(var(--order) * 0.75s);
  opacity: 0;
}

.fade-in-left {
  animation: fadeInLeft 0.5s ease-in-out forwards;
  animation-delay: calc(var(--order) * 0.75s);
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: calc(var(--order) * 0.75s);
  opacity: 0;
}

.fade-in-fast {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: calc(var(--order) * 0.25s);
  opacity: 0;
}